<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>


    <p>welcome {{user.username}}</p>
    {% if user.is_sportclub %}
    <a href="{% url 'sportclub:profile' slug=user.slug %}">Profile Page</a>
    {% endif %}

    {% if user.is_commonuser %}
    <a href="{% url 'commonuser:profile' slug=user.slug %}">Profile Page</a>
    {% endif %}

    {% if user.is_masteruser %}
    <a href="{% url 'index' %}">Profile Page</a>
    {% endif %}

    {% if user.is_superuser %}
    <a href="{% url 'accounts:profile' slug=user.slug %}">Profile Page</a>
    {% endif %}

    <p> <a href="{% url 'logout' %}">logout</a></p>


    <p> please login from <a href="{% url 'login' %}">here</a></p>
    <p>or sign up commonuser from <a href="{% url 'commonuser:signup' %}">here</a></p>
    <p>or signup a sportclub via <a href="{% url 'sportclub:signup' %}">here</a></p>
    <p>or signup a masteruser via <a href="{% url 'masteruser:signup' %}">here</a></p>


    <p>list of masteruser <a href="{% url 'masteruser:list' %}">here</a></p>

    <p>list of <a href="{% url 'salon:publishedsalonlist' %}">published salons</a></p>
    <p>list of <a href="{% url 'salon:unpublishedsalonlist' %}">unpublished salons</a></p>



</body>
</html>
