<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    {% if user.is_authenticated %}
    <p>welcome {{user.username}}</p>
    {% if user.is_sportclub %}
    <a href="{% url 'sportclub:profile' slug=user.sportclubs.slug %}">Profile Page</a>
    {% endif %}

    {% if user.is_commonuser %}
    <a href="{% url 'commonuser:profile' slug=user.commonusers.slug %}">Profile Page</a>
    {% endif %}

    <p> <a href="{% url 'logout' %}">logout</a></p>
    {% else %}

    <p> please login from <a href="{% url 'login' %}">here</a></p>
    <p>or sign up commonuser from <a href="{% url 'commonuser:signup' %}">here</a></p>
    <p>or signup a sportclub via <a href="{% url 'sportclub:signup' %}">here</a></p>


    {% endif %}


</body>
</html>
