<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Here is the list of Confirmed Salons:</p>
    {% for salon in salons %}
    {% if salon.is_confirmed %}
    owner: {{salon.sportclub.username}} this should change to first and lastname later <br>
    belongs to: {{salon.sportclub.user.username}}<br>
    floor type: {{salon.floor_type}}<br>
    No. showers: {{salon.shower}}<br>
    No. chnageing rooms: {{salon.changing_room}}<br>
    locker {{salon.locker}}<br>
    this salon is for:
    {% if salon.is_futsall %}
    futsal
    {% endif %}
    {% if salon.is_volleyball %}
    volleyball
    {% endif %}
    {% if salon.is_basketball %}
    basketball
    {% endif %}
    {% if salon.is_football %}
    football
    {% endif %}
    <p>salon details: <a href="{% url 'salon:detail' pk=salon.pk %}">here</a> </p>
    

    <br>
    {% for pic in salon.pictures.all %}
    <p>Salon image: </p><img src="{{pic.picture.url}}" width="70" height="70"/><br>
    {% endfor %}
    {% endif %}
    {% endfor %}



  </body>
</html>
