<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Here is the list of Published Salons:</p>
    {% for salon in salons %}
    {% if salon.is_published %}
    owner: {{salon.sportclub.username}} this should change to name later <br>
    belongs to: {{salon.sportclub.username}}
    floor type: {{salon.floor_type}}
    No. showers: {{salon.shower}}
    No. chnage=ing rooms: {{salon.changing_room}}
    locker {{salon.locker}}
    this salon is for
    {% if salon.is_futsall %}
    futsal
    {% endif %}
    {% if salon.is_volleyball %}
    volleyball
    {% endif %}
    {% if salon.is_basketball %}
    basketball
    {% endif %}
    {% if salon.is_football %}
    football
    {% endif %}
    {% for pic in salon.pictures.all %}
    <p>Salon image: </p><img src="{{pic.picture.url}}" width="70" height="70"/><br>
    {% endfor %}
    {% endif %}
    {% endfor %}



  </body>
</html>
