<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Salon Details</h1>
    <p>
      <p>
      Area: {{salon_detail.area}}<br>
      Floor Type{{salon_detail.floor_type}}<br>
      Locker: {{salon_detail.locker}}<br>
      Shower: {{salon_detail.shower}}<br>
      Changing Room: {{salon_detail.changing_room}}<br>
      this salon is for:
      {% if salon_detail.is_futsall %}
      futsal
      {% endif %}
      {% if salon_detail.is_volleyball %}
      volleyball
      {% endif %}
      {% if salon_detail.is_basketball %}
      basketball
      {% endif %}
      {% if salon_detail.is_football %}
      football
      {% endif %}
      </p>
      {% for pic in salon_detail.pictures.all %}
      <p>Salon image: </p><img src="{{pic.picture.url}}" width="70" height="70"/><br>
      {% endfor %}
      {% if salon.is_confirmed %}
      <p>ban salon from <a href="{% url 'salon:ban' pk=salon_detail.pk %}">here</a> </p>
      {% else %}
      <p>Confirm Salon From: <a href="{% url 'salon:confirm' pk=salon_detail.pk %}">here</a> </p>
      <p>DELETE Salon From: <a href="{% url 'salon:delete' pk=salon_detail.pk %}">here</a> </p>
      {% endif %}

  </body>
</html>
